
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel';
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}


/* Estilos para el navbar */
header .logo img {
    max-height: 70px; 
    margin-left: 90px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C0CEDD;
    color: #000000;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-family: 'Cinzel';
    width: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-right: 250px;
    align-items: center;
    margin-top: 15px;
}

.nav-links li {
    margin-left: 100px;
}

.nav-links a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ddd;
}

main {
    flex: 1; /* Ocupa todo el espacio disponible */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos del contenedor del carrusel */
.carousel {
    max-width: 50%; /* Ajusta el ancho del carrusel */
    margin: 20px auto; /* Centra el carrusel horizontalmente */
}

.carousel-item img {
    width: 100%; /* La imagen ocupa todo el ancho del carrusel */
    height: 700px;
    max-width: 1600px;
    object-fit: cover; /* Mantiene la imagen adaptada al espacio */
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente para el texto */
    padding: 1rem;
    border-radius: 5px;
}

.carousel-caption h5 {
    font-family: 'Cinzel';
    font-size: 1.5rem;
    color: #fff;
}

.carousel-caption p {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #fff;
}

/* Footer siempre en el fondo */
footer {
    font-family: 'Cinzel';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C0CEDD;
    color: #000000;
    padding: 1rem;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.footer-content p {
    margin: 0;
}

.logoUade img {
    max-height: 50px;
}







/*Pagina Recursos - Main*/
.mainCursos {
    flex: 1;
    display: block; /* Cambiar a block para evitar alineación horizontal */
    width: 100%;
}
/* Estilos para las secciones principales */

/* Cursos */
.curso {
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.curso h3 {
    color: #007BFF;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

.curso p {
    font-size: 1em;
    color: #555;
}

/* Profesores */

.profesores-container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profesor {
    display: flex; /* Habilita flexbox */
    flex-direction: column; /* Organiza los elementos verticalmente */
    align-items: center; /* Centra horizontalmente los elementos */
    justify-content: flex-start; /* Alinea hacia la parte superior, ajusta si deseas centrar */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin-left: 70px;
}

.profesor img {
    width: 300px; /* Hace que la imagen ocupe el ancho del contenedor */
    height: 300px;
    object-fit: cover; /* Mantiene las proporciones de la imagen */
    border-radius: 50px; /* Da bordes redondeados */
    margin-bottom: 0 auto; /* Agrega espacio debajo de la imagen */
    margin-bottom: 15px;
    display: block;
}

/* Ajuste de columnas según tamaño de pantalla */
@media (max-width: 992px) {
    .profesor {
        flex: 0 0 calc(50% - 20px); /* 2 columnas en pantallas medianas */
    }
}

@media (max-width: 768px) {
    .profesor {
        flex: 0 0 100%; /* 1 columna en pantallas pequeñas */
    }
}

@media (max-width: 576px) {
    .profesor {
        flex: 0 0 100%;
    }
}

/* Estrellas */
.estrellas {
    font-size: 1.5em;
    color: #FFD700;
}



/* FORMULARIO OCULTO*/
.formulario-oculto {
    display: none;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
/* para que el boton enviar sea verde*/
#enviarverde{
    background-color: #4CAF50;
}
















/*--- BIBLIOTECA DIGITAL----*/
/* Menú lateral */
#menu-lateral {
    background-color: #2c3e50;
    display: flex;
    color: white;
    padding: 15px;
    position: fixed;
    height: 100%;
    width: 200px;
    top: 0;
    left: 0;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
}

#menu-lateral ul {
    list-style: none;
    padding: 0;
}

#menu-lateral ul li {
    margin: 20px 0;
}

#menu-lateral ul li a {
    color: white;
    text-decoration: none;
}

#biblioteca {
    margin-left: 220px; /* Espacio para el menú lateral */
    padding: 20px;
    display: block; /* Cambia flex a block para que los elementos se muestren en bloque */
}

.bibliotecaBuscador input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    
}


/* Recursos */
#resultados .recurso {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#resultados .recurso h2 {
    font-size: 1.25rem;
    color: #007BFF;
}

#resultados .recurso p {
    color: #555;
}

#resultados .recurso a {
    color: #007BFF;
    text-decoration: none;
}
